@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/SuisseIntl-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/SuisseIntl-SemiBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SuisseIntlMono';
  src: url("/fonts/Suisse Int'l Mono.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --wgrd-red: #e81410;
  --text-color: #212529;
  --bg-color: #f8f9fa;
  --table-border: #dee2e6;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  font-family: inherit;
}
